@model GraniteHouse.Models.ViewModel.ProductsViewModel
@using GraniteHouse.Extensions

<h2 class="text-info">Details Product</h2>


    <div class="p-4 border rounded row">
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Products.Name"></label>
                </div>
                <div class="col-8">
                    <input readonly asp-for="Products.Name" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Products.Price"></label>
                </div>
                <div class="col-8">
                    <input readonly asp-for="Products.Price" class="form-control" />
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductTypes"></label>
                </div>
                <div class="col-8">
                    <input readonly asp-for="@Model.Products.ProductTypes.Name" class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="SpecialTags"></label>
                </div>
                <div class="col-8">
                    <input readonly asp-for="@Model.Products.SpecialTags.Name" class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Products.ShadeColor"></label>
                </div>
                <div class="col-8">
                    <input readonly asp-for="Products.ShadeColor" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Products.Available"></label>
                </div>
                <div class="col-8">
                    <input type="checkbox" disabled asp-for="Products.Available" />
                </div>
            </div>
        </div>
        <div class="col-1">

        </div>
        <div class="col-3">
            <img src="@Model.Products.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
        </div>
        <br />
        <div class="form-group">
            <a type="submit" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Products.ID">Edit</a>

            <a asp-action="Index" class="btn btn-success">Back To List</a>
        </div>
    </div>


